* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monospace;
    font-size: 16px;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

.faq-content {
    display: grid;
    max-width: 300px;
    margin: 0 auto;
}

.faq-item {
    background-color: #ccdbfd;
    overflow: hidden;
    border: 1px solid #b6ccfe;
}

.faq-question {
    padding: 10px;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #d7e3fc;
}

.faq-question h3 {
    margin-left: 10px;
    line-height: 1.5;
}

.toggle-btn {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #edf2fb;
    border-radius: 50%;
    border: none;
    transition:
        background-color 0.25s ease-in-out,
        transform 0.5s ease;
    flex-shrink: 0;
}

.faq-item.active .toggle-btn {
    background-color: #007bff;
    color: white;
    transform: rotate(45deg);
}

.faq-answer {
    background-color: #edf2fb;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    transition:
        max-height 0.3s ease,
        padding 0.3s ease;
}

.faq-answer p {
    padding: 20px 0;
    line-height: 1.6;
    color: #333;
}

.faq-item.active .faq-answer {
    max-height: 200px;
}
